{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="main" role="main">
  <article class="article work" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <h1 class="article__title" itemprop="name">{{ .Title | safeHTML }}</h1>
    
    <div class="article__body work" itemprop="articleBody">
      <div class="work__figures">
        {{ with .Params.eyecatch }}
        <figure> <img loading="lazy" src="{{ . }}" alt="" width="1200" height="800" itemprop="image"></figure>
        {{ end }}
        {{ with .Params.figure1 }}
        <figure><img loading="lazy" src="{{ . }}" alt="" width="1200" height="800" itemprop="image"></figure>
        {{ end }}
        {{ with .Params.figure2 }}
        <figure><img loading="lazy" src="{{ . }}" alt="" width="1200" height="800" itemprop="image"></figure>
        {{ end }}
        {{ with .Params.figure3 }}
        <figure><img loading="lazy" src="{{ . }}" alt="" width="1200" height="800" itemprop="image"></figure>
        {{ end }}
        {{ with .Params.figure4 }}
        <figure><img loading="lazy" src="{{ . }}" alt="" width="1200" height="800" itemprop="image"></figure>
        {{ end }}
        {{ with .Params.figure5 }}
        <figure><img loading="lazy" src="{{ . }}" alt="" width="1200" height="800" itemprop="image"></figure>
        {{ end }}
      </div>
      <div class="work__outline">
        <div class="work__spec">
          {{ with .Params.period }}
            <div>{{ . }}</div>
          {{ end }}
          {{ with .Params.categories }}
            <div>
              {{ $item := . }}
              {{ delimit $item " , " }}
            </div>
          {{ end }}
        </div>
        {{ .Content }}
      </div>
    </div>
  </article>
</main>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
