<article class="articleListItem" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <a href="{{ .Permalink }}" itemprop="url">
    {{ with .Params.eyecatch }}
      <figure class="articleListItem__eyecatch">
        <img class="Lazy" src="/assets/images/eyecatch.png" data-original="{{ . }}" alt="" itemprop="image">
      </figure>
    {{ end }}
    <h1 class="articleListItem__title" itemprop="name">{{ .Title | safeHTML }}</h1>
    <p class="articleListItem__period" itemprop="articleBody">{{ .Params.period }}</p>
  </a>
</article>
