//==============================================================================
//  Module: Header
//==============================================================================

.header {
  @include wrapper;
}

.header__upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: $margin-s;
  
  @media only screen and (max-width: $break-point-medium) {
    flex-direction: column;
    align-items: start;
    gap: $margin-l;
  }
}

.header__lower {
  margin: $margin-xxs 0 0 0;
}

.header__id {
  @include fontSize(40);
  
  margin: 0;

  a {
    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px;
    gap: $margin-xxs;
    // width: 240px;
    // text-indent: -7777px;
    // background-image: url($base-image + "/logo.svg");
    // background-position: left center;
    // background-repeat: no-repeat;
    // background-size: contain;

    &::before {
      content: url($base-image + "/mark.svg");
    }
  }
 
  @media only screen and (max-width: $break-point-large) {
    @include fontSize(32);
  }
}

.header__description {
  @include fontSize(14);

  font-weight: 500;
  margin: 0;
  padding-left: $margin-s;

  // @media only screen and (max-width: $break-point-large) {
  //   padding-left: 42px;
  // }

  @media only screen and (max-width: $break-point-medium) {
    @include fontSize(12);
    // display: none;
    padding: 0;
    // text-align: center;
  }
}

.header__navigation {

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
    padding: 0px;
    gap: $margin-s;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px;
    gap: $margin-xxs;
  }

  a {
    @include fontSize(32);

    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px;
    gap: $margin-xxs;

    &.current {
      text-decoration: line-through;

      &::before {
        content: url($base-image + "/mark.svg");
      }
    }

    @media only screen and (max-width: $break-point-large) {
      @include fontSize(24);
    }

    @media only screen and (max-width: $break-point-medium) {}
  }
}
