//==============================================================================
//  Basis
//==============================================================================

body {
  @include fontSize(16);

  background: $base-background;
  color: $base-primary-color;
  font-family: $base-font;
  line-height: 1.6;
  padding: ($margin-m * 5) $margin-l $margin-xxxl;

  @media only screen and (max-width: $break-point-large) {
    padding: ($margin-m * 5 - 30) $margin-m $margin-xxl;
  }
  @media only screen and (max-width: $break-point-medium) {
    @include fontSize(14);
    padding: ($margin-m * 5 - 15) $margin-s $margin-xl;
  }
  @media only screen and (max-width: $break-point-small) {
    padding: ($margin-m * 4 - 10) $margin-s $margin-l;
  }
}

a {
  color: $base-link-color;

  &:hover {
    color: $base-link-color-hover;
  }
}

img {
  vertical-align: bottom;
}

figure {
  margin: 0;
}

input,
textarea {
  @include fontSize(16);

  outline: none;
  box-sizing: border-box;

  @media only screen and (max-width: $break-point-medium) {
    @include fontSize(14);
  }
}

::selection {
  background: $accent-color-yellow;
}

.contents {
  @include wrapper;
  padding: $margin-l 0 $margin-xxxl;

  @media only screen and (max-width: $break-point-large) {
    padding: $margin-m 0 $margin-xxl;
  }

  @media only screen and (max-width: $break-point-medium) {
    padding: $margin-m 0 $margin-xl;
  }

  @media only screen and (max-width: $break-point-small) {
    padding: $margin-m 0;
  }
}