//==============================================================================
//  Utility: Mixin
//==============================================================================

@use "sass:math";

//------------------------------------------------------------------------------
//
// 引数px相当のフォントサイズ相対で出力
//
// @param size(require) Number - 出力したいフォントサイズを指定
//
//------------------------------------------------------------------------------
@mixin fontSize($size) {
  font-size: unquote(math.div($size, 16) + "rem");
}

//------------------------------------------------------------------------------
//
// 指定行数で 3 点リード
//
// @param num(require) Number - 行数を指定
//
//------------------------------------------------------------------------------
@mixin lineclamp($num) {
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
}

//------------------------------------------------------------------------------
//
// クリアフィックス
//
// @param なし
//
//------------------------------------------------------------------------------
@mixin clearfix {
  zoom: 1;

  &::before,
  &::after {
    display: block;
    height: 0;
    content: "\0020";
    visibility: hidden;
  }

  &::after {
    clear: both;
  }
}

//------------------------------------------------------------------------------
//
// コンテンツ wrapper
//
// @param なし
//
//------------------------------------------------------------------------------
@mixin wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
